name: Terraform Deployment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment name"
        required: true
        type: choice
        options:
          - production
          - dev
          - staging

defaults:
  run:
    working-directory: ./terraform

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy to ${{ inputs.environment }} Environment
    environment:
      name: ${{ inputs.environment }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.9.8"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Set Environment Variables
        run: |
          echo "TF_VAR_project_name=adorsys-gis-blog3-${{ inputs.environment }}" >> $GITHUB_ENV
          echo "TF_VAR_aws_region=${{ vars.AWS_REGION }}" >> $GITHUB_ENV

      # You will need to add any sensitive variables your application requires here.
      # For example:
      # - name: Set Sensitive Variables
      #   run: |
      #     echo "TF_VAR_database_url=${{ secrets.DATABASE_URL }}" >> $GITHUB_ENV

      - name: Create Backend Configuration
        run: |
          cat <<EOF > backend.tf
          terraform {
            backend "s3" {
              bucket         = "adorsys-gis-blog3-${{ inputs.environment }}-terraform-state"
              key            = "terraform.tfstate"
              region         = "${{ vars.AWS_REGION }}"
              encrypt        = true
            }
          }
          EOF

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=plan.tfplan

      - name: Terraform Apply
        if: github.event_name == 'workflow_dispatch'
        run: terraform apply -auto-approve plan.tfplan

